html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(19, 57%, 98%);
}

a {
  text-decoration: none;
}

.card {
  max-width: 500px;
  margin: 10px auto;
  transition: transform 0.6s;
}

.card:hover {
  transform: scale(1.1);
}
